nav {
  background-color: rgb(82, 52, 121);
  width: 100%;
  position: fixed;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 96vh;
}

.pageLink {
  margin: 0 40px;
}

a {
  color: white;
}

/* header {
    padding: 3% 4%;
    background-color: var(--dark);
    color: var(--primary);
  } */

header p {
  max-width: 75%;
}

header h1 {
  background-color: white;
  font-size: 3rem;
  color: blue;
  display: inline-block;
}
